@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oleo+Script+Swash+Caps&family=Poppins:wght@200&family=Raleway:wght@100&family=Roboto:ital,wght@0,300;1,300&family=Ubuntu:ital,wght@1,300&display=swap');
:root{

    --primaryColor:hsl(172, 32%, 23%);
    --mainColor: hsl(197, 100%, 64%);
    --mainBackgroundColor: hsl(283, 100%, 3%);
    --homeBackgroundColor:rgb(0, 0, 0);
    
    --signupBackgroundColor:hsl(230, 100%, 99%);
    --formBackgroundColor:hsl(0, 1%, 70%);
    
    --messageInColor:rgb(49, 148, 3);
    --messageOutColor:rgb(0, 177, 177);
}
.app{
    font-family: 'Fira Sans', sans-serif;
}