@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oleo+Script+Swash+Caps&family=Poppins:wght@200&family=Raleway:wght@100&family=Roboto:ital,wght@0,300;1,300&family=Ubuntu:ital,wght@1,300&display=swap');
:root{

    --primaryColor:hsl(0, 11%, 22%);
    --mainColor: hsl(273, 97%, 42%);
    --mainBackgroundColor: hsl(284, 100%, 5%);
    --homeBackgroundColor:rgb(0, 0, 0);
    --red: hsl(0,100,50%);
    
}
.app{
    font-family: 'Fira Sans', sans-serif;
}